@model SchoolProj.ViewModels.StudentViewModal

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-group row">
    <div class="col-md-12">
        <button type="button" id="btnAddNewStudent" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Student</button>
    </div>
</div>

<div id="studentData_Placeholder"></div>

<div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentModalTitle"></h5>
                <button type="button" id="btnCrossClose" class="close" data-dismiss="modal" title="Close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(r => r.Id)


                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
                            @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RollNo, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.RollNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RollNo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnClose" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="module">
        import {
            h,
            html
        } from "/Scripts/gridjs.production.es.min.js";

        let _h = h;
        let _html = html;

        function clearStudentModel() {
            $("#Id").val(0);
            $("#Name").val("");
            $("#Gender").val("0").change();
            $("#RollNo").val("");
            $("#Age").val("");
            $("#PhoneNo").val("");
            $("#Email").val("");
            $("#Address").val("");

            $("#studentModal").modal("hide");
        }

        function requiredValidation() {
            let result = true;

            if ($("#Name").val() == "") {
                alert("Please, enter name.");
                result = false;
            }

            if ($("#Gender").val() == "0") {
                alert("Please, choose gender.");
                result = false;
            }

            if ($("#RollNo").val() == "") {
                alert("Please, enter roll number.");
                result = false;
            }

            if ($("#Email").val() == "") {
                alert("Please, enter email.");
                result = false;
            }

            return result;
        }

        function updateStudent(id) {
            $.ajax({
                url: "http://localhost:59832/api/Students/GetStudent?id=" + id + "", //"/Student/GetStudentById?id=" + id + "",
                type: "GET",
                //data: { id: id },
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                dataType: "json",
                success: function (data) {

                        let json_data = data;
                        let id = json_data.Id;
                        let name = json_data.Name;
                        let gender = json_data.Gender;
                        let roll = json_data.RollNo;
                        let age = json_data.Age;
                        let phoneNo = json_data.PhoneNo;
                        let email = json_data.Email;
                        let address = json_data.Address;

                        $("#Id").val(id);
                        $("#Name").val(name);
                        $("#Gender").val(gender).change();
                        $("#RollNo").val(roll);
                        $("#Age").val(age);
                        $("#PhoneNo").val(phoneNo);
                        $("#Email").val(email);
                        $("#Address").val(address);
                        $("#studentModalTitle").text("Edit Student");
                        $("#btnSave").attr("data-saveMode", "edit");

                        $("#studentModal").modal("show");
                },
                error: function (xhr, status, error) {
                    console.log("error : " + error);
                }
            });
        }

        function viewStudent(id) {
            $.ajax({
                url: "http://localhost:59832/api/Students/GetStudent",
                type: "GET",
                data: { id: id },
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                dataType: "json",
                success: function (data) {
                        let json_data = data;
                        let id = json_data.Id;
                        let name = json_data.Name;
                        let gender = json_data.Gender == "1" ? "Male" : "Female";
                        let roll = json_data.RollNo;
                        let age = json_data.Age;
                        let phoneNo = json_data.PhoneNo;
                        let email = json_data.Email;
                        let address = json_data.Address; 
                        bootbox.alert("<h3><b>Student Detail Information<b></h3><hr>" + "ID&nbsp;:&nbsp;" + id + "<br>" + "Name&nbsp;:&nbsp;" + name + "<br>" + "Gender&nbsp;:&nbsp;" + gender + "<br>" + "Roll No&nbsp;:&nbsp;" + roll + "<br>" + "Age&nbsp;:&nbsp;" + age + "<br>" + "Phone No&nbsp;:&nbsp;" + phoneNo + "<br>" + "Email&nbsp;:&nbsp;" + email + "<br>" + "Address&nbsp;:&nbsp;" + address);
                },
                error: function (xhr, status, error) {
                    console.log("error : " + error);
                }
            });
        }

        function deleteStudent(id) {
            bootbox.confirm({
                size: "small",
                message: "Are you sure you want to delete?",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "http://localhost:59832/api/Students/DeleteStudent?id=" + id + "",//"/Student/Delete",
                            type: "POST",
                            //data: { id: id },
                            //contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                            // dataType: "json",
                            success: function (data) {
                                if (data.Id == id) {
                                    bootbox.alert("Successfully Deleted.", function () {
                                        window.location.reload();
                                    });
                                }
                                //if (data.success)
                                //    window.location.reload();
                                //else
                                //    bootbox.alert("Data not found");
                            },
                            error: function (xhr, status, error) {
                                console.log("error : " + xhr);
                            }
                        });
                    }
                }
            })
        }

        function loadIndex() {
            $("div#studentData_Placeholder").html("");
            $.ajax({
                url: "/Student/GetStudents",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        let json_data = data.data;
                        let result = [];

                        $.each(json_data, function (index, row) {
                            let row_result = [];
                            $.each(row, function (col) {
                                row_result.push(row[col]);
                            });
                            result.push(row_result);
                        });

                        $("div#studentData_Placeholder").Grid({
                            columns: [
                                "Name",
                                "Gender",
                                "RollNo",
                                "Age",
                                "Phone No.",
                                "Email",
                                "Address",
                                {
                                    name: 'Actions',
                                    formatter: (cell, row) => {
                                        let buttons = [];
                                        buttons.push(_h('button', {
                                            className: 'btn btn-xs btn-success',
                                            onClick: () => updateStudent(`${cell}`)
                                        }, _html('<span class="glyphicon glyphicon-pencil"></span> Edit')));

                                        buttons.push(_h('button', {
                                            className: 'btn btn-xs btn-primary',
                                            onClick: () => viewStudent(`${cell}`)
                                        }, _html('<span class="glyphicon glyphicon-eye-open"></span> View')));

                                        buttons.push(_h('button', {
                                            className: 'btn btn-xs btn-danger',
                                            onClick: () => deleteStudent(`${cell}`)
                                        }, _html('<span class="glyphicon glyphicon-trash"></span> Delete')));

                                        return buttons;
                                    }
                                }
                            ],
                            search: {
                                enabled: true
                            },
                            sort: true,
                            pagination: {
                                enabled: true,
                                limit: 5,
                                summary: true
                            },
                            data: () => {
                                return new Promise(resolve => {
                                    setTimeout(() => resolve(result), 2000); // equal 2 seconds
                                });
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.log("error : " + error);
                }
            });
        }

        function f1(callback) {
            //alert("1");
            //alert("2");
            //alert("3");

            callback(function myfunction() {
                //alert("5");
            });
        }

        function callbackFunc(callback2) {
            //alert("4");

            callback2();
        }

        $(document).ready(function () {
            loadIndex();

            $("#btnAddNewStudent").on("click", function () {
                $("#studentModalTitle").text("Add Student");
                $("#Id").val(0);
                $("#btnSave").attr("data-saveMode", "add");
                $("#studentModal").modal("show");
            });

            $("#btnSave").on("click", function () {
                if (requiredValidation()) {
                    let saveMode = $("#btnSave").attr("data-saveMode");
                    let id = $("#Id").val();
                    $.ajax({
                        url: saveMode == "add" ? "http://localhost:59832/api/Students/PostStudent" : "http://localhost:59832/api/Students/PutStudent?id=" + id + "",
                        type: saveMode == "add" ? "POST" : "PUT",
                        data: $("form").serialize(),
                        success: function (data) {
                            if (data.Id == id) {
                                $("#studentModal").modal("hide");
                                bootbox.alert("Successfully Updated.", function () {
                                    window.location.reload();
                                });
                            }
                            else if (data.Id > 0) {
                                $("#studentModal").modal("hide");
                                bootbox.alert("Successfully Created.", function () {
                                    window.location.reload();
                                });
                            }
                            else {
                                bootbox.alert("Something is wrong!");
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log("error : " + error);
                        }
                    });
                }
            });

            $("#btnClose, #btnCrossClose").on("click", function () {
                clearStudentModel();
            });

            f1(callbackFunc);
        });
    </script>
}