@model  SchoolProj.ViewModels.TeacherViewModel

@{
    ViewBag.Title = "Index";
    var message = ViewBag.Message;
}

<h2>@ViewBag.Title</h2>

<div class="form-group row">
    <div class="col-md-12">
        <button type="button" id="btnAddNewTeacher" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Teacher</button>
    </div>
</div>

<div id="teacherData_Placeholder"></div>
<br />

<div id="dynamicContents"></div><br />
<div id="textArea"></div>

<div class="modal fade" id="teacherModal" tabindex="-1" role="dialog" aria-labelledby="teacherModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teacherModalTitle"></h5>
                <button type="button" id="btnCrossClose" class="close" title="Close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(r => r.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label " })
                        @Html.EnumDropDownListFor(model => model.Department, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNo, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnClose">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="module">
        import {
            h,
            html
        } from "/Scripts/gridjs.production.es.min.js";

        let _h = h;
        let _html = html;

        function clearTeacherModel() {
            $("#Id").val(0);
            $("#Name").val("");
            $("#Gender").val("0").change();
            $("#Department").val("0").change();
            $("#PhoneNo").val("");
            $("#Email").val("");
            $("#Address").val("");

            $("#teacherModal").modal("hide");
        }

        function requiredValidation() {
            let result = true;

            if ($("#Name").val() == "") {
                alert("Please, enter name.");
                result = false;
            }

            if ($("#Gender").val() == "0") {
                alert("Please, choose gender.");
                result = false;
            }

            if ($("#Department").val() == "0") {
                alert("Please, choose department.");
                result = false;
            }

            if ($("#Email").val() == "") {
                alert("Please, enter email.");
                result = false;
            }

            return result;
        }

        function updateTeacher(id) {
            $.ajax({
                url: "/Teachers/GetTeacherById?id=" + id + "",
                type: "GET",
                //data: { id: id },
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        let json_data = data.data;
                        let id = json_data.Id;
                        let name = json_data.Name;
                        let gender = json_data.Gender;
                        let department = json_data.Department;
                        let phoneNo = json_data.PhoneNo;
                        let email = json_data.Email;
                        let address = json_data.Address;

                        $("#Id").val(id);
                        $("#Name").val(name);
                        $("#Gender").val(gender).change();
                        $("#Department").val(department).change();
                        $("#PhoneNo").val(phoneNo);
                        $("#Email").val(email);
                        $("#Address").val(address);

                        $("#teacherModalTitle").text("Edit Teacher");
                        $("#btnSave").attr("data-saveMode", "edit");

                        $("#teacherModal").modal("show");
                    }
                },
                error: function (xhr, status, error) {
                    console.log("error : " + error);
                }
            });
        }

        function viewTeacher(id) {
            alert(id + " View");
        }

        function deleteTeacher(id) {
            bootbox.confirm({
                size: "small",
                message: "Are you sure you want to delete?",
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Teachers/Delete",
                            type: "POST",
                            data: { id: id },
                            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                            dataType: "json",
                            success: function (data) {
                                if (data.success)
                                    window.location.reload();
                                else
                                    bootbox.alert("Data not found");
                            },
                            error: function (xhr, status, error) {
                                console.log("error : " + xhr);
                            }
                        });
                    }
                }
            })
        }

        function loadIndex() {
            $("div#teacherData_Placeholder").html("");
            $.ajax({
                url: "/Teachers/GetTeachers",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        let json_data = data.data;
                        let result = [];

                        $.each(json_data, function (index, row) {
                            let row_result = [];
                            $.each(row, function (col) {
                                row_result.push(row[col]);
                            });
                            result.push(row_result);
                        });

                        $("div#teacherData_Placeholder").Grid({
                            columns: [
                                "Name",
                                "Gender",
                                "Department",
                                "Phone No.",
                                "Email",
                                "Address",
                                {
                                    name: 'Actions',
                                    formatter: (cell, row) => {
                                        let buttons = [];
                                        buttons.push(_h('button', {
                                            className: 'btn btn-xs btn-success',
                                            onClick: () => updateTeacher(`${cell}`)
                                        }, _html('<span class="glyphicon glyphicon-pencil"></span> Edit')));

                                        buttons.push(_h('button', {
                                            className: 'btn btn-xs btn-primary',
                                            onClick: () => viewTeacher(`${cell}`)
                                        }, _html('<span class="glyphicon glyphicon-eye-open"></span> View')));

                                        buttons.push(_h('button', {
                                            className: 'btn btn-xs btn-danger',
                                            onClick: () => deleteTeacher(`${cell}`)
                                        }, _html('<span class="glyphicon glyphicon-trash"></span> Delete')));

                                        return buttons;
                                    }
                                }
                            ],
                            search: {
                                enabled: true
                            },
                            sort: true,
                            pagination: {
                                enabled: true,
                                limit: 5,
                                summary: true
                            },
                            data: () => {
                                return new Promise(resolve => {
                                    setTimeout(() => resolve(result), 2000); // equal 2 seconds
                                });
                            }
                        });
                    }
                },
                error: function (xhr, status, error) {
                    console.log("error : " + error);
                }
            });
        }

        function f1(callback) {
            //alert("1");
            //alert("2");
            //alert("3");

            callback(function myfunction() {
                //alert("5");
            });
        }

        function callbackFunc(callback2) {
            //alert("4");

            callback2();
        }

        function alertName() {
            bootbox.alert("dddd");
        }

        function GenerateDynamicJS() {
            let button = document.createElement("button");
            button.setAttribute("class", "btn btn-success")
            button.onclick = function () {
                let txtName = document.createElement("input");
                txtName.setAttribute("type", "text");
                txtName.setAttribute("id", "txtName");
                txtName.setAttribute("class", "form-control");
                txtName.setAttribute("placeholder", "enter your name");
                txtName.onblur = function () {
                    alertName();
                }

                $("#textArea").html(txtName);
                $(txtName).focus();
            }
            button.innerText = "Input your name";

            $("#dynamicContents").append(button);
        }

        $(document).ready(function () {
            @*let message = "@message";
            if (message != "")
                bootbox.alert(message);*@

            GenerateDynamicJS();

            loadIndex();

            $("#btnAddNewTeacher").on("click", function () {
                $("#teacherModalTitle").text("Add Teacher");
                $("#Id").val(0);
                $("#btnSave").attr("data-saveMode", "add");
                $("#teacherModal").modal("show");
            });

            $("#btnSave").on("click", function () {
                if (requiredValidation()) {
                    let saveMode = $("#btnSave").attr("data-saveMode");
                    $.ajax({
                        url: saveMode == "add" ? "/Teachers/Create" : "/Teachers/Edit",
                        type: "POST",
                        data: $("form").serialize(),
                        success: function (data) {
                            if (data.success) {
                                $("#teacherModal").modal("hide");
                                window.location.reload();
                            }
                            else
                                bootbox.alert("Something is wrong!");
                        },
                        error: function (xhr, status, error) {
                            console.log("error : " + error);
                        }
                    });
                }
            });

            $("#btnClose, #btnCrossClose").on("click", function () {
                clearTeacherModel();
            });
            
            f1(callbackFunc);
        });
    </script>
}